$primary-color-red: #e92c21;
$primary-color-blue: #0072b8;
$primary-color-white: #ffffff;
$primary-color-black: #000000;
$primary-color-yellow: #ede51c;

$txt-second-color: #8d8d8d;

$btn-main-bg: #ede51c;
$btn-main-color: $primary-color-blue;

$header-height: 108px;
$header-tablet-height: 90px;
$header-mobile-height: 50px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;
$low-pc-width: 1400px;
$font-size-mobile: 1.8rem !important;
