@use "../../styles/" as *;
.page-header {
    height: calc(530px + $header-height);
    position: relative;
    margin-bottom: 80px;

    @include tablet {
        height: calc(450px + $header-height);
    }
    @include mobile {
        height: calc(204px + $header-height);
        margin-bottom: 24px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 114, 184, 0.6);
    }

    & .page-header__name {
        position: absolute;
        z-index: 2;
        bottom: 146px;
        font: "Helvetica Neue";
        font-weight: 700;
        font-size: 7.4rem;
        line-height: 117.22px;
        color: $primary-color-white;

        @include lowPc {
            font-size: 7rem;
            bottom: 116px;
        }

        @include tablet {
            bottom: 80px;
        }
    }
}
